In [45]:
import pandas as pd
df = pd.DataFrame({'a':[1,1,2,2],'b':[1,2,3,4],'c':[5,6,7,8]})
df

   a  b  c
0  1  1  5
1  1  2  6
2  2  3  7
3  2  4  8

In [16]:
df.groupby('a').transform(lambda x: 1)

   b  c
0  1  1
1  1  1
2  1  1
3  1  1

In [19]:
df.groupby('a').apply(lambda x: x/len(x))

     a    b    c
0  0.5  0.5  2.5
1  0.5  1.0  3.0
2  1.0  1.5  3.5
3  1.0  2.0  4.0

In [46]:
df['b'] = df.groupby('a')['b'].apply(lambda x: x-7)
df

   a  b  c
0  1 -6  5
1  1 -5  6
2  2 -4  7
3  2 -3  8

In [40]:
df['b'] = df.groupby('a')['b'].transform(lambda x: 1)
df

   a  b  c
0  1  1  5
1  1  1  6
2  2  1  7
3  2  1  8

In [74]:
# The higher the meow, the happier the cat is likely to be
class Cat:
    def __init__(self, pitch): self.pitch = pitch
    def __repr__(self): return f'meow ({self.pitch}Hz)!'
    def __gt__(self, other): return self.pitch > other.pitch
    def __lt__(self, other): return self.pitch < other.pitch
    def happiness_level(self): return self.pitch 
cats = [Cat(520), Cat(220), Cat(345)]
print(cats[0] > cats[1])
sorted(cats, key=lambda x: x.happiness_level())
sorted(cats, key=lambda x: Cat.happiness_level(x))

True

[meow (220Hz)!, meow (345Hz)!, meow (520Hz)!]

In [1]:
[2,1] > [1,2]

True

In [2]:
[1,2] > [1,1]

True

In [3]:
['b','a'] > ['a','b']

True

In [4]:
['a','b'] > ['a','a']

True

In [5]:
'ba' > 'ab'

True

In [6]:
'ab' > 'aa'

True

In [7]:
sorted([(1,2),(1,1),(2,4),(2,3),(3,6),(4,5)])

[(1, 1), (1, 2), (2, 3), (2, 4), (3, 6), (4, 5)]

In [8]:
a = ['aaa','aa','bbbb','bb','cc']
sorted(a, key=lambda x:(x,len(x)))

['aa', 'aaa', 'bb', 'bbbb', 'cc']

In [9]:
sorted(['zzz','yy','x'], key=lambda x:len(x))

['x', 'yy', 'zzz']

In [10]:
sorted(['zzz','yy','x'], key=lambda x:-len(x))

['zzz', 'yy', 'x']

In [11]:
sorted(['zzz','yy','x'], key=lambda x:len(x), reverse=True)

['zzz', 'yy', 'x']

In [12]:
sorted(['zzz','yy','x'], key=lambda x:hash(x))

['zzz', 'yy', 'x']

In [13]:
sorted(['zzz','yy','c'], key=lambda x:ord(x[-1]))

['c', 'yy', 'zzz']

In [14]:
d = {'a':3,'b':2,'c':1}

In [15]:
sorted(d)

['a', 'b', 'c']

In [16]:
sorted(d, key=lambda k:k)

['a', 'b', 'c']

In [17]:
sorted(d, key=lambda k:d[k])

['c', 'b', 'a']

In [18]:
sorted(d, key=lambda k:-d[k])

['a', 'b', 'c']