In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'P': {0: 'p', 1: 'q', 2: 'r'},
                   'Q': {0: 1, 1: 3, 2: 5},
                   'R': {0: 2, 1: 4, 2: 6}})

In [3]:
df

   P  Q  R
0  p  1  2
1  q  3  4
2  r  5  6

In [4]:
df.melt(id_vars=['P'], value_vars=['Q'])

   P variable  value
0  p        Q      1
1  q        Q      3
2  r        Q      5

In [5]:
df.melt(id_vars=['P'], value_vars=['Q', 'R'])

   P variable  value
0  p        Q      1
1  q        Q      3
2  r        Q      5
3  p        R      2
4  q        R      4
5  r        R      6