https://en.m.wikibooks.org/wiki/SQL_Exercises/The_warehouse

In [ ]:
%load_ext sql
%sql sqlite:///db.db3

In [ ]:
%%sql sqlite://

CREATE TABLE Warehouses (
   Code INTEGER PRIMARY KEY NOT NULL,
   Location TEXT NOT NULL ,
   Capacity INTEGER NOT NULL 
);
 
CREATE TABLE Boxes (
   Code TEXT PRIMARY KEY NOT NULL,
   Contents TEXT NOT NULL ,
   Value REAL NOT NULL ,
   Warehouse INTEGER NOT NULL, 
   CONSTRAINT fk_Warehouses_Code FOREIGN KEY (Warehouse) REFERENCES Warehouses(Code)
);

INSERT INTO Warehouses(Code,Location,Capacity) VALUES(1,'Chicago',3);
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(2,'Chicago',4);
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(3,'New York',7);
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(4,'Los Angeles',2);
INSERT INTO Warehouses(Code,Location,Capacity) VALUES(5,'San Francisco',8);
 
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('0MN7','Rocks',180,3);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('4H8P','Rocks',250,1);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('4RT3','Scissors',190,4);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('7G3H','Rocks',200,1);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('8JN6','Papers',75,1);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('8Y6U','Papers',50,3);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('9J6F','Papers',175,2);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('LL08','Rocks',140,4);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('P0H6','Scissors',125,1);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('P2T6','Scissors',150,2);
INSERT INTO Boxes(Code,Contents,Value,Warehouse) VALUES('TU55','Papers',90,5);

In [ ]:
# 1. Select all warehouses.
%sql select * from warehouses;

In [ ]:
# 2. Select all boxes with a value larger than $150.
%sql select * from boxes where value > 150;

In [ ]:
# 3. Select all distinct contents in all the boxes.
%sql select distinct contents from boxes;

In [ ]:
# 4. Select the average value of all the boxes.
%sql select avg(value) from boxes;

In [ ]:
# 5. Select the warehouse code and the average value of the boxes in each warehouse.
%sql select code, (select avg(value) from boxes where warehouse = warehouses.code) from warehouses;

In [ ]:
%sql select w.code, avg(b.value) from boxes as b inner join warehouses as w on b.warehouse = w.code group by w.code;

In [ ]:
%sql select warehouse, avg(value) from boxes group by warehouse;

In [ ]:
# 6. Same as previous exercise, but select only those warehouses where the average value of the boxes is greater than 150.
%sql select warehouse, avg(value) from boxes group by warehouse having avg(value) > 150;

In [ ]:
# 7. Select the code of each box, along with the name of the city the box is located in.
%sql select b.code, w.location from boxes as b inner join warehouses as w on b.warehouse = w.code;

In [ ]:
# 8. Select the warehouse codes, along with the number of boxes in each warehouse. Optionally, take into account that some warehouses are empty (i.e., the box count should show up as zero, instead of omitting the warehouse from the result).
%sql select w.code, count(b.code) from boxes as b left join warehouses as w on b.warehouse = w.code group by w.code;

In [ ]:
%sql select w.code, count(b.code) from warehouses as w left join boxes as b on b.warehouse = w.code group by w.code;

In [ ]:
%sql select warehouse, count(*) from boxes group by warehouse;

In [ ]:
# 9. Select the codes of all warehouses that are saturated (a warehouse is saturated if the number of boxes in it is larger than the warehouse's capacity).
%sql select w.code from warehouses as w inner join boxes as b on w.code = b.warehouse group by w.code having count(*) > w.capacity;

In [ ]:
%sql select code from warehouses where capacity < (select count(*) from boxes where warehouse = warehouses.code);

In [ ]:
# 10. Select the codes of all the boxes located in Chicago.
%sql select code from boxes where warehouse in (select code from warehouses where location = 'Chicago');

In [ ]:
%sql select b.code from boxes as b left join warehouses as w on b.warehouse = w.code where w.location = 'Chicago';

In [ ]:
# 11. Create a new warehouse in New York with a capacity for 3 boxes.
%sql insert into warehouses (location, capacity) values ('New York', 3);

In [ ]:
# 12. Create a new box, with code "H5RT", containing "Papers" with a value of $200, and located in warehouse 2.
%sql insert into boxes values ('H5RT', 'Papers', 200, 2);

In [ ]:
# 13. Reduce the value of all boxes by 15%.
%sql update boxes set value = value * 0.85;

In [ ]:
# 14. Apply a 20% value reduction to boxes with a value larger than the average value of all the boxes.
%sql update boxes set value = value * 0.85 where value > (select avg(value) from boxes);

In [ ]:
# 15. Remove all boxes with a value lower than $100.
%sql delete from boxes where value < 100;

In [ ]:
# 16. Remove all boxes from saturated warehouses.
%sql delete from boxes where warehouse in (select code from warehouses where capacity < (select count(*) from boxes where warehouse = warehouses.code));