In [32]:
import numpy as np
import pandas as pd
tracks = pd.DataFrame({'track':['a','b'],'wk1':[1,2],'wk2':[2,1]})
melted = tracks.melt(['track'], ['wk1','wk2'],'week','rank')
pivoted = melted.pivot(['track'],'week','rank')

In [33]:
tracks

  track  wk1  wk2
0     a    1    2
1     b    2    1

In [34]:
melted

  track week  rank
0     a  wk1     1
1     b  wk1     2
2     a  wk2     2
3     b  wk2     1

In [35]:
pivoted.reset_index()

week track  wk1  wk2
0        a    1    2
1        b    2    1