**Linear Regression Using Multiple Variables**

https://www.youtube.com/watch?v=J_LnPL3Qg70

https://github.com/codebasics/py/tree/master/ML/2_linear_reg_multivariate

In [ ]:
!pip install pandas matplotlib sklearn

In [ ]:
import math
import numpy as np
import pandas as pd
from sklearn import linear_model
from io import StringIO

In [ ]:
PRICES_CSV_STR = """
area,bedrooms,age,price
2600,3,20,550000
3000,4,15,565000
3200,,18,610000
3600,3,30,595000
4000,5,8,760000
4100,6,8,810000
"""
 
df = pd.read_csv(StringIO(PRICES_CSV_STR))
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
# Data Preprocessing: Handling NA Values
df['bedrooms'] = df.bedrooms.fillna(math.floor(df.bedrooms.median()))
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [ ]:
"""
b - intercept
y - dependent variable
x1, x2, x3 - independent variables (features)
m1, m2, m3 - coefficients (slopes)
y = m1 * x1 + m2 * x2 + m3 * x3 + b
"""
b = reg.intercept_
m1, m2, m3 = reg.coef_
area, bedrooms, age = 3000, 3, 40
price = m1 * area + m2 * bedrooms + m3 * age + b
m1, m2, m3, b, price

(112.06244194213473,
 23388.88007793914,
 -3231.7179086329706,
 221323.00186540396,
 498408.2515803067)