https://en.m.wikibooks.org/wiki/SQL_Exercises/Pieces_and_providers

In [ ]:
%load_ext sql
%sql sqlite:///db.db3

In [ ]:
%%sql sqlite://

CREATE TABLE Pieces (
   Code INTEGER PRIMARY KEY NOT NULL,
   Name TEXT NOT NULL
);
 
CREATE TABLE Providers (
  Code TEXT PRIMARY KEY NOT NULL,
  Name TEXT NOT NULL
);
 
CREATE TABLE Provides (
   Piece INTEGER  
     CONSTRAINT fk_Pieces_Code REFERENCES Pieces(Code),
   Provider TEXT
     CONSTRAINT fk_Providers_Code REFERENCES Providers(Code),
   Price INTEGER NOT NULL,
   PRIMARY KEY(Piece, Provider)
);

INSERT INTO Providers(Code, Name) VALUES('HAL','Clarke Enterprises');
INSERT INTO Providers(Code, Name) VALUES('RBT','Susan Calvin Corp.');
INSERT INTO Providers(Code, Name) VALUES('TNBC','Skellington Supplies');

INSERT INTO Pieces(Code, Name) VALUES(1,'Sprocket');
INSERT INTO Pieces(Code, Name) VALUES(2,'Screw');
INSERT INTO Pieces(Code, Name) VALUES(3,'Nut');
INSERT INTO Pieces(Code, Name) VALUES(4,'Bolt');
 
INSERT INTO Provides(Piece, Provider, Price) VALUES(1,'HAL',10);
INSERT INTO Provides(Piece, Provider, Price) VALUES(1,'RBT',15);
INSERT INTO Provides(Piece, Provider, Price) VALUES(2,'HAL',20);
INSERT INTO Provides(Piece, Provider, Price) VALUES(2,'RBT',15);
INSERT INTO Provides(Piece, Provider, Price) VALUES(2,'TNBC',14);
INSERT INTO Provides(Piece, Provider, Price) VALUES(3,'RBT',50);
INSERT INTO Provides(Piece, Provider, Price) VALUES(3,'TNBC',45);
INSERT INTO Provides(Piece, Provider, Price) VALUES(4,'HAL',5);
INSERT INTO Provides(Piece, Provider, Price) VALUES(4,'RBT',7);

In [ ]:
# 1. Select the name of all the pieces. (Seleccione el nombre de todas las piezas).
%sql select name from pieces;

In [ ]:
# 2. Select all the providers' data. (Seleccione todos los datos de los proveedores (providers)).
%sql select * from providers;

In [ ]:
# 3. Obtain the average price of each piece (show only the piece code and the average price).
%sql select piece, avg(price) from provides group by piece;

In [ ]:
# 4. Obtain the names of all providers who supply piece 1.
%sql select name from provides inner join providers on provides.provider = providers.code where provides.piece = 1;

In [ ]:
%sql select name from provides inner join providers on provides.provider = providers.code and provides.piece = 1;

In [ ]:
# 5. Select the name of pieces provided by provider with code "HAL".
%sql select name from pieces where code in (select piece from provides where provider = 'HAL');

In [ ]:
%sql select pieces.name from pieces inner join provides on pieces.code = provides.piece where provides.provider = 'HAL';

In [ ]:
%sql select pieces.name from pieces inner join provides on pieces.code = provides.piece and provides.provider = 'HAL';

In [ ]:
%sql select name from pieces where exists (select * from provides where provider = 'HAL' and piece = pieces.code);

In [ ]:
# 6. For each piece, find the most expensive offering of that piece and include the piece name, provider name, and price (note that there could be two providers who supply the same piece at the most expensive price).
%sql select pieces.name, providers.name, price from pieces inner join provides on pieces.code = piece inner join providers on providers.code = provider where price = (select max(price) from provides where piece = pieces.code);

In [ ]:
# 7. Add an entry to the database to indicate that "Skellington Supplies" (code "TNBC") will provide sprockets (code "1") for 7 cents each.
%sql insert into provides values (1, 'TNBC', 7);

In [ ]:
# 8. Increase all prices by one cent.
%sql update provides set price = price + 1;

In [ ]:
# 9. Update the database to reflect that "Susan Calvin Corp." (code "RBT") will not supply bolts (code 4).
%sql delete from provides where provider = 'RBT' and piece = 4;

In [ ]:
# 10. Update the database to reflect that "Susan Calvin Corp." (code "RBT") will not supply any pieces (the provider should still remain in the database).
%sql delete from provides where provider = 'RBT';