Sams Teach Yourself SQL in 10 Minutes (Fifth Edition)  
https://forta.com/books/0135182794/  
https://forta.com/books/0135182794/challenges/  
https://t.me/c/1348434213/72

In [ ]:
%load_ext sql
%sql sqlite:///db.db3

In [ ]:
%%sql sqlite://

CREATE TABLE Customers
(
  cust_id      char(10)  NOT NULL ,
  cust_name    char(50)  NOT NULL ,
  cust_address char(50)  NULL ,
  cust_city    char(50)  NULL ,
  cust_state   char(5)   NULL ,
  cust_zip     char(10)  NULL ,
  cust_country char(50)  NULL ,
  cust_contact char(50)  NULL ,
  cust_email   char(255) NULL ,
  PRIMARY KEY (cust_id)
);

CREATE TABLE OrderItems
(
  order_num  int          NOT NULL                      ,
  order_item int          NOT NULL                      ,
  prod_id    char(10)     NOT NULL                      ,
  quantity   int          NOT NULL                      ,
  item_price decimal(8,2) NOT NULL                      ,
  PRIMARY KEY (order_num, order_item)                   ,
  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,
  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)
);

CREATE TABLE Orders
(
  order_num  int      NOT NULL ,
  order_date datetime NOT NULL ,
  cust_id    char(10) NOT NULL ,
  PRIMARY KEY (order_num)      ,
  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)
);

CREATE TABLE Products
(
  prod_id    char(10)      NOT NULL ,
  vend_id    char(10)      NOT NULL ,
  prod_name  char(255)     NOT NULL ,
  prod_price decimal(8,2)  NOT NULL ,
  prod_desc  text          NULL     ,
  PRIMARY KEY (prod_id)             ,
  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)
);

CREATE TABLE Vendors
(
  vend_id      char(10) NOT NULL ,
  vend_name    char(50) NOT NULL ,
  vend_address char(50) NULL     ,
  vend_city    char(50) NULL     ,
  vend_state   char(5)  NULL     ,
  vend_zip     char(10) NULL     ,
  vend_country char(50) NULL     ,
  PRIMARY KEY (vend_id)
);

CREATE TABLE CustNew
(
  cust_id      char(10)  NOT NULL ,
  cust_name    char(50)  NOT NULL ,
  cust_address char(50)  NULL ,
  cust_city    char(50)  NULL ,
  cust_state   char(5)   NULL ,
  cust_zip     char(10)  NULL ,
  cust_country char(50)  NULL ,
  cust_contact char(50)  NULL ,
  cust_email   char(255) NULL ,
  PRIMARY KEY (cust_id)
);

In [ ]:
%%sql sqlite://

INSERT INTO Customers(cust_id, cust_name, cust_address, cust_city, cust_state, cust_zip, cust_country, cust_contact, cust_email)
VALUES('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com');
INSERT INTO Customers(cust_id, cust_name, cust_address, cust_city, cust_state, cust_zip, cust_country, cust_contact)
VALUES('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green');
INSERT INTO Customers(cust_id, cust_name, cust_address, cust_city, cust_state, cust_zip, cust_country, cust_contact, cust_email)
VALUES('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com');
INSERT INTO Customers(cust_id, cust_name, cust_address, cust_city, cust_state, cust_zip, cust_country, cust_contact, cust_email)
VALUES('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com');
INSERT INTO Customers(cust_id, cust_name, cust_address, cust_city, cust_state, cust_zip, cust_country, cust_contact)
VALUES('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard');

INSERT INTO Vendors(vend_id, vend_name, vend_address, vend_city, vend_state, vend_zip, vend_country)
VALUES('BRS01','Bears R Us','123 Main Street','Bear Town','MI','44444', 'USA');
INSERT INTO Vendors(vend_id, vend_name, vend_address, vend_city, vend_state, vend_zip, vend_country)
VALUES('BRE02','Bear Emporium','500 Park Street','Anytown','OH','44333', 'USA');
INSERT INTO Vendors(vend_id, vend_name, vend_address, vend_city, vend_state, vend_zip, vend_country)
VALUES('DLL01','Doll House Inc.','555 High Street','Dollsville','CA','99999', 'USA');
INSERT INTO Vendors(vend_id, vend_name, vend_address, vend_city, vend_state, vend_zip, vend_country)
VALUES('FRB01','Furball Inc.','1000 5th Avenue','New York','NY','11111', 'USA');
INSERT INTO Vendors(vend_id, vend_name, vend_address, vend_city, vend_state, vend_zip, vend_country)
VALUES('FNG01','Fun and Games','42 Galaxy Road','London', NULL,'N16 6PS', 'England');
INSERT INTO Vendors(vend_id, vend_name, vend_address, vend_city, vend_state, vend_zip, vend_country)
VALUES('JTS01','Jouets et ours','1 Rue Amusement','Paris', NULL,'45678', 'France');

INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('BR01', 'BRS01', '8 inch teddy bear', 5.99, '8 inch teddy bear, comes with cap and jacket');
INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('BR02', 'BRS01', '12 inch teddy bear', 8.99, '12 inch teddy bear, comes with cap and jacket');
INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('BR03', 'BRS01', '18 inch teddy bear', 11.99, '18 inch teddy bear, comes with cap and jacket');
INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('BNBG01', 'DLL01', 'Fish bean bag toy', 3.49, 'Fish bean bag toy, complete with bean bag worms with which to feed it');
INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('BNBG02', 'DLL01', 'Bird bean bag toy', 3.49, 'Bird bean bag toy, eggs are not included');
INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('BNBG03', 'DLL01', 'Rabbit bean bag toy', 3.49, 'Rabbit bean bag toy, comes with bean bag carrots');
INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('RGAN01', 'DLL01', 'Raggedy Ann', 4.99, '18 inch Raggedy Ann doll');
INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('RYL01', 'FNG01', 'King doll', 9.49, '12 inch king doll with royal garments and crown');
INSERT INTO Products(prod_id, vend_id, prod_name, prod_price, prod_desc)
VALUES('RYL02', 'FNG01', 'Queen doll', 9.49, '12 inch queen doll with royal garments and crown');

INSERT INTO Orders(order_num, order_date, cust_id)
VALUES(20005, '2020-05-01', '1000000001');
INSERT INTO Orders(order_num, order_date, cust_id)
VALUES(20006, '2020-01-12', '1000000003');
INSERT INTO Orders(order_num, order_date, cust_id)
VALUES(20007, '2020-01-30', '1000000004');
INSERT INTO Orders(order_num, order_date, cust_id)
VALUES(20008, '2020-02-03', '1000000005');
INSERT INTO Orders(order_num, order_date, cust_id)
VALUES(20009, '2020-02-08', '1000000001');

INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20005, 1, 'BR01', 100, 5.49);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20005, 2, 'BR03', 100, 10.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20006, 1, 'BR01', 20, 5.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20006, 2, 'BR02', 10, 8.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20006, 3, 'BR03', 10, 11.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20007, 1, 'BR03', 50, 11.49);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20007, 2, 'BNBG01', 100, 2.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20007, 3, 'BNBG02', 100, 2.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20007, 4, 'BNBG03', 100, 2.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20007, 5, 'RGAN01', 50, 4.49);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20008, 1, 'RGAN01', 5, 4.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20008, 2, 'BR03', 5, 11.99);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20008, 3, 'BNBG01', 10, 3.49);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20008, 4, 'BNBG02', 10, 3.49);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20008, 5, 'BNBG03', 10, 3.49);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20009, 1, 'BNBG01', 250, 2.49);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20009, 2, 'BNBG02', 250, 2.49);
INSERT INTO OrderItems(order_num, order_item, prod_id, quantity, item_price)
VALUES(20009, 3, 'BNBG03', 250, 2.49);

INSERT INTO CustNew(cust_id, cust_name, cust_address, cust_city, cust_state, cust_zip, cust_country, cust_contact, cust_email)
VALUES('1000000008', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com');
INSERT INTO CustNew(cust_id, cust_name, cust_address, cust_city, cust_state, cust_zip, cust_country, cust_contact)
VALUES('1000000009', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green');

In [ ]:
%sql select prod_name from products;

In [ ]:
%sql select prod_id, prod_name, prod_price from products;

In [ ]:
%sql select * from products;

In [ ]:
%sql select vend_id from products;

In [ ]:
%sql select distinct vend_id from products;

In [ ]:
%sql select vend_id, prod_price from products;

In [ ]:
%sql select distinct vend_id, prod_price from products;

In [ ]:
%sql select prod_name from products limit 5;

In [ ]:
%sql select prod_name from products limit 5 offset 5;

In [ ]:
%sql select cust_id from customers;

In [ ]:
%sql select distinct prod_id from orderitems;

In [ ]:
%sql select * from customers;

In [ ]:
%sql select cust_id from customers;

In [ ]:
%sql select prod_name from products order by prod_name;

In [ ]:
%sql select prod_id, prod_price, prod_name from products order by prod_price, prod_name;

In [ ]:
%sql select prod_id, prod_price, prod_name from products order by 2, 3;

In [ ]:
%sql select prod_id, prod_price, prod_name from products order by prod_price desc;

In [ ]:
%sql select prod_id, prod_price, prod_name from products order by prod_price desc, prod_name;

In [ ]:
%sql select cust_name from customers order by cust_name desc;

In [ ]:
%sql select cust_id, order_num from orders order by cust_id, order_date desc;

In [ ]:
%sql select quantity, item_price from orderitems order by quantity desc, item_price desc;

In [ ]:
%sql select prod_name, prod_price from products where prod_price = 3.49;

In [ ]:
%sql select prod_name, prod_price from products where prod_price < 10;

In [ ]:
%sql select vend_id, prod_name from products where vend_id <> 'DLL01';

In [ ]:
%sql select prod_name, prod_price from products where prod_price between 5 and 10;

In [ ]:
%sql select prod_name from products where prod_price is null;

In [ ]:
%sql select cust_name from customers where cust_email is null;

In [ ]:
%sql select prod_id, prod_name from products where prod_price == 9.49;

In [ ]:
%sql select prod_id, prod_name from products where prod_price >= 9;

In [ ]:
%sql select distinct order_num from orderitems where quantity >= 100;

In [ ]:
%sql select prod_name, prod_price from products where prod_price between 3 and 6 order by prod_price;

In [ ]:
%sql select prod_id, prod_price, prod_name from products where vend_id = 'DLL01' and prod_price <= 4;

In [ ]:
%sql select prod_id, prod_price, prod_name from products where vend_id = 'DLL01' or vend_id = 'BRS01';

In [ ]:
%sql select prod_name, prod_price from products where (vend_id = 'DLL01' or vend_id = 'BRS01') and prod_price >= 10;

In [ ]:
%sql select prod_name, prod_price from products where vend_id in ('DLL01','BRS01') order by prod_name;

In [ ]:
%sql select prod_name, prod_price from products where vend_id = 'DLL01' or vend_id = 'BRS01' order by prod_name;

In [ ]:
%sql select prod_name from products where not vend_id = 'DLL01' order by prod_name;

In [ ]:
%sql select prod_name from products where vend_id <> 'DLL01' order by prod_name;

In [ ]:
%sql select vend_name from vendors where vend_country = 'USA' and vend_state = 'CA';

In [ ]:
%sql select order_num, prod_id, quantity from orderitems where prod_id in ('BR01','BR02','BR03') and quantity >= 100;

In [ ]:
%sql select prod_name, prod_price from products where prod_price >= 3 and prod_price <= 6 order by prod_price;

In [ ]:
%sql select prod_id, prod_name from products where prod_name like 'Fish%';

In [ ]:
%sql select prod_id, prod_name from products where prod_name like '%bean bag%';

In [ ]:
%sql select prod_name from products where prod_name like 'F%y';

In [ ]:
%sql select prod_id, prod_name from products where prod_name like '__ inch teddy bear';

In [ ]:
%sql select prod_id, prod_name from products where prod_name like '% inch teddy bear';

In [ ]:
%sql select cust_contact from customers where cust_contact like '[JM]%' order by cust_contact;

In [ ]:
%sql select prod_name, prod_desc from products where prod_desc like '%toy%';

In [ ]:
%sql select prod_name, prod_desc from products where not prod_desc like '%toy%' order by prod_name;

In [ ]:
%sql select prod_name, prod_desc from products where prod_desc like '%toy%' and prod_desc like '%carrots%';

In [ ]:
%sql select prod_name, prod_desc from products where prod_desc like '%toy%carrots%';

In [ ]:
%sql select vend_name || '(' || vend_country || ')' from vendors order by vend_name;

In [ ]:
%sql select rtrim(vend_name) || ' (' || rtrim(vend_country) || ')' from vendors order by vend_name;

In [ ]:
%sql select rtrim(vend_name) || ' (' || rtrim(vend_country) || ')' as vend_title from vendors order by vend_name;

In [ ]:
%sql select prod_id, quantity, item_price from orderitems where order_num = 20008;

In [ ]:
%sql select prod_id, quantity, item_price, quantity*item_price as expanded_price from orderitems where order_num = 20008;

In [ ]:
%sql select 3*2, trim('  abc  '), date('now');

In [ ]:
%sql select vend_id, vend_name as vname, vend_address as vaddress, vend_city as vcity from vendors order by vname;

In [ ]:
%sql select prod_id, prod_price, 0.9*prod_price as sale_price from products;

In [ ]:
%sql select vend_name, upper(vend_name) as vend_name_upcase from vendors order by vend_name;

In [ ]:
%sql select cust_name, cust_contact from customers where soundex(cust_contact) = soundex('Michael Green');

In [ ]:
%sql select order_num from orders where strftime('%Y', order_date) = '2020';

In [ ]:
%sql select cust_id, cust_name, upper(substr(cust_contact,1,2)||substr(cust_city,1,3)) as user_login from customers;

In [ ]:
%sql select order_num, order_date from orders where strftime('%Y-%m', order_date) = '2020-01' order by order_date;

In [ ]:
%sql select avg(prod_price) as avg_price from products;

In [ ]:
%sql select avg(prod_price) as avg_price from products where vend_id = 'DLL01';

In [ ]:
%sql select count(*) as num_cust from customers;

In [ ]:
%sql select count(cust_email) as num_cust from customers;

In [ ]:
%sql select max(prod_price) as max_price from products;

In [ ]:
%sql select min(prod_price) as min_price from products;

In [ ]:
%sql select sum(quantity) as items_ordered from orderitems where order_num = 20005;

In [ ]:
%sql select sum(item_price*quantity) as total_price from orderitems where order_num = 20005;

In [ ]:
%sql select avg(distinct prod_price) as avg_price from products where vend_id = 'DLL01';

In [ ]:
%sql select count(*) as num_items, min(prod_price) as price_min, max(prod_price) as price_max, avg(prod_price) as price_avg from products;

In [ ]:
%sql select sum(quantity) as items_ordered from orderitems;

In [ ]:
%sql select sum(quantity) as items_ordered from orderitems where prod_id = 'BR01';

In [ ]:
%sql select max(prod_price) as max_price from products where prod_price <= 10;

In [ ]:
%sql select count(*) as num_prods from products where vend_id = 'DLL01';

In [ ]:
%sql select vend_id, count(*) as num_prods from products group by vend_id;

In [ ]:
%sql select cust_id, count(*) as orders from orders group by cust_id having count(*) >= 2;

In [ ]:
%sql select vend_id, count(*) as num_prods from products where prod_price >= 4 group by vend_id having count(*) >= 2;

In [ ]:
%sql select vend_id, count(*) as num_prods from products group by vend_id having count(*) >= 2;

In [ ]:
%sql select order_num, count(*) as items from orderitems group by order_num having count(*) >= 3;

In [ ]:
%sql select order_num, count(*) as items from orderitems group by order_num having count(*) >= 3 order by items, order_num;

In [ ]:
%sql select order_num, count(*) as order_lines from orderitems group by order_num order by order_lines;

In [ ]:
%sql select vend_id, min(prod_price) as cheapest_item from products group by vend_id order by cheapest_item;

In [ ]:
%sql select order_num from orderitems group by order_num having sum(quantity) >= 100;

In [ ]:
%sql select order_num, sum(item_price*quantity) as total_price from orderitems group by order_num having total_price >= 1000 order by order_num;

In [ ]:
%sql select order_num from orderitems where prod_id = 'RGAN01';

In [ ]:
%sql select cust_id from orders where order_num in (20007,20008);

In [ ]:
%sql select cust_id from orders where order_num in (select order_num from orderitems where prod_id = 'RGAN01');

In [ ]:
%sql select cust_name, cust_contact from customers where cust_id in (1000000004, 1000000005);

In [ ]:
%sql select cust_name, cust_contact from customers where cust_id in (select cust_id from orders where order_num in (select order_num from orderitems where prod_id = 'RGAN01'));

In [ ]:
%sql select count(*) as orders from orders where cust_id = 1000000001;

In [ ]:
%sql select cust_name, cust_state, (select count(*) from orders where orders.cust_id = customers.cust_id) as orders from customers order by cust_name;

In [ ]:
%sql select cust_id from orders where order_num in (select order_num from orderitems where item_price >= 10);

In [ ]:
%sql select cust_id, order_date from orders where order_num in (select order_num from orderitems where prod_id = 'BR01');

In [ ]:
%sql select cust_email from customers where cust_id in (select cust_id from orders where order_num in (select order_num from orderitems where prod_id = 'BR01'));

In [ ]:
%sql select cust_id, (select sum(item_price*quantity) from orderitems where orders.order_num = orderitems.order_num) as total_ordered from orders order by total_ordered desc;

In [ ]:
%sql select prod_name, (select sum(quantity) from orderitems where orderitems.prod_id = products.prod_id) as quant_sold from products;

In [ ]:
%sql select vend_name, prod_name, prod_price from vendors, products where vendors.vend_id = products.vend_id;

In [ ]:
%sql select vend_name, prod_name, prod_price from vendors, products;

In [ ]:
%sql select vend_name, prod_name, prod_price from vendors inner join products on vendors.vend_id = products.vend_id;

In [ ]:
%sql select prod_name, vend_name, prod_price, quantity from orderitems, products, vendors where products.vend_id = vendors.vend_id and orderitems.prod_id = products.prod_id and order_num = 20007;

In [ ]:
%sql select cust_name, cust_contact from customers, orders, orderitems where customers.cust_id = orders.cust_id and orderitems.order_num = orders.order_num and prod_id = 'RGAN01';

In [ ]:
%sql select cust_name, order_num from customers, orders where customers.cust_id = orders.cust_id order by cust_name, order_num;

In [ ]:
%sql select cust_name, order_num from customers inner join orders on customers.cust_id = orders.cust_id order by cust_name, order_num;

In [ ]:
%sql select cust_name, order_num, (select sum(item_price*quantity) from orderitems where orders.order_num = orderitems.order_num) as order_total from customers, orders where customers.cust_id = orders.cust_id order by cust_name, order_num;

In [ ]:
%sql select customers.cust_name, orders.order_num, sum(item_price*quantity) as order_total from customers, orders, orderitems where customers.cust_id = orders.cust_id and orders.order_num = orderitems.order_num group by orderitems.order_num order by customers.cust_name, orderitems.order_num;

In [ ]:
%sql select cust_id, order_date, prod_id from orders, orderitems where orders.order_num = orderitems.order_num and orderitems.prod_id = 'BR01' order by order_date;

In [ ]:
%sql select cust_email from customers inner join orders on customers.cust_id = orders.cust_id inner join orderitems on orders.order_num = orderitems.order_num where prod_id = 'BR01';

In [ ]:
%sql select cust_name, sum(item_price*quantity) as total_price from customers, orders, orderitems where customers.cust_id = orders.cust_id and orders.order_num = orderitems.order_num group by cust_name having total_price >= 1000 order by cust_name;

In [ ]:
%sql select cust_name, sum(item_price*quantity) as total_price from customers inner join orders on customers.cust_id = orders.cust_id inner join orderitems on orders.order_num = orderitems.order_num group by cust_name having total_price >= 1000 order by cust_name;

In [ ]:
%sql select c1.cust_id, c1.cust_name, c1.cust_contact from customers as c1, customers as c2 where c1.cust_name = c2.cust_name and c2.cust_contact = 'Jim Jones';

In [ ]:
%sql select cust_id, cust_name, cust_contact from customers where cust_contact = 'Jim Jones';

In [ ]:
%sql select c.*, o.order_num, o.order_date, oi.prod_id, oi.quantity, oi.item_price from customers as c, orders as o, orderitems as oi where c.cust_id = o.cust_id and oi.order_num = o.order_num and prod_id = 'RGAN01';

In [ ]:
%sql select customers.cust_id, orders.order_num from customers inner join orders on customers.cust_id = orders.cust_id;

In [ ]:
%sql select customers.cust_id, orders.order_num from customers left outer join orders on customers.cust_id = orders.cust_id;

In [ ]:
%sql select customers.cust_id, orders.order_num from customers right outer join orders on customers.cust_id = orders.cust_id;

In [ ]:
%sql select customers.cust_id, orders.order_num from customers full outer join orders on customers.cust_id = orders.cust_id;

In [ ]:
%sql select customers.cust_id, count(orders.order_num) as num_ord from customers inner join orders on customers.cust_id = orders.cust_id group by customers.cust_id;

In [ ]:
%sql select customers.cust_id, count(orders.order_num) as num_ord from customers left outer join orders on customers.cust_id = orders.cust_id group by customers.cust_id;

In [ ]:
%sql select cust_name, order_num from customers inner join orders on customers.cust_id = orders.cust_id order by cust_name;

In [ ]:
%sql select cust_name, order_num from customers left outer join orders on customers.cust_id = orders.cust_id order by cust_name;

In [ ]:
%sql select prod_name, order_num from products left outer join orderitems on products.prod_id = orderitems.prod_id order by prod_name;

In [ ]:
%sql select prod_name, count(order_num) as orders from products left outer join orderitems on products.prod_id = orderitems.prod_id group by prod_name order by prod_name;

In [ ]:
%sql select vendors.vend_name, count(products.prod_id) as products from vendors left outer join products on vendors.vend_id = products.vend_id group by vendors.vend_id;

In [ ]:
%sql select cust_name, cust_contact, cust_email from customers where cust_state in ('IL','IN','MI') union select cust_name, cust_contact, cust_email from customers where cust_name = 'Fun4All';

In [ ]:
%sql select cust_name, cust_contact, cust_email from customers where cust_state in ('IL','IN','MI') union all select cust_name, cust_contact, cust_email from customers where cust_name = 'Fun4All';

In [ ]:
%sql select cust_name, cust_contact, cust_email from customers where cust_state in ('IL','IN','MI') union all select cust_name, cust_contact, cust_email from customers where cust_name = 'Fun4All' order by cust_name, cust_contact;

In [ ]:
%sql select prod_id, quantity from orderitems where quantity = 100 union select prod_id, quantity from orderitems where prod_id like 'BNBG%' order by prod_id;

In [ ]:
%sql select prod_id, quantity from orderitems where quantity = 100 or prod_id like 'BNBG%' order by prod_id;

In [ ]:
%sql select prod_name from products union select cust_name from customers order by prod_name;

In [ ]:
%sql insert into customers values (1000000006,'Toy Land','123 Any Street','New York','NY','11111','USA',NULL,NULL);

In [ ]:
%sql insert into customers (cust_id,cust_name,cust_address,cust_city,cust_state,cust_zip,cust_country,cust_contact,cust_email) values (1000000006,'Toy Land','123 Any Street','New York','NY','11111','USA',NULL,NULL);

In [ ]:
%sql INSERT INTO customers(cust_id,cust_contact,cust_email,cust_name,cust_address,cust_city,cust_state,cust_zip,cust_country) SELECT cust_id,cust_contact,cust_email,cust_name,cust_address,cust_city,cust_state,cust_zip,cust_country FROM CustNew;

In [ ]:
%sql create table custcopy as select * from customers;

In [ ]:
%sql create table ordersbackup as select * from orders;

In [ ]:
%sql create table orderitemsbackup as select * from orderitems;

In [ ]:
%sql update customers set cust_email = 'kim@thetoystore.com' where cust_id = 1000000005;

In [ ]:
%sql update customers set cust_email = null where cust_id = 1000000005;

In [ ]:
%sql delete from customers where cust_id = 1000000006;

In [ ]:
%sql update vendors set vend_state = upper(vend_state) where vend_country = 'USA';

In [ ]:
%sql update customers set cust_state = upper(cust_state) where cust_country = 'USA';

In [ ]:
%sql select * from customers where cust_id = 1000000042;

In [ ]:
%sql delete from customers where cust_id = 1000000042;

In [ ]:
%sql alter table vendors add vend_phone char(20);

In [ ]:
%sql alter table vendors drop column vend_phone;

In [ ]:
%sql drop table custcopy;

In [ ]:
%sql create view productcustomers as select cust_name, cust_contact, prod_id from customers, orders, orderitems where customers.cust_id = orders.cust_id and orderitems.order_num = orders.order_num;

In [ ]:
%sql select * from productcustomers where prod_id = 'RGAN01';

In [ ]:
%sql create view vendorlocations as select rtrim(vend_name)||' ('||rtrim(vend_country)||')' as vend_title from vendors;

In [ ]:
%sql select * from vendorlocations;

In [ ]:
%sql create view customeremaillist as select cust_id, cust_name, cust_email from customers where cust_email is not null;

In [ ]:
%sql select * from customeremaillist;

In [ ]:
%sql create view orderitemsexpanded as select order_num, prod_id, quantity, item_price, quantity*item_price as expanded_price from orderitems;

In [ ]:
%sql select * from orderitemsexpanded where order_num = 20008;

In [ ]:
%sql select case cust_state when 'MI' then 1 else 0 end as c from customers;